body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

button {
    display: block;
    margin: 20px 0;
}

.submitbtn{
    background-color: #000155;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transizione per l'hover */
}

.submitbtn:hover{
    background-color: #0000aa; 
}

.deleteBtn{
    background-color: #b10000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transizione per l'hover */
}

.deleteBtn:hover{
    background-color: #580000;
}

.addbutton{
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #000000;
    transition: background-color 0.3s; /* Transizione per l'hover */
}

.addbutton:hover{
    background-color: #c70000;
    color: #ffffff;
    border: 1px solid #000000;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #000000;
}


th, td {
    padding: 10px ;
    border: 1px solid #ccc;
    text-align: left;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}








/* Stile generale per il form */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}




/* Stile per le etichette */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Stile per gli input di testo */
input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Garantisce che il padding non influenzi la larghezza totale */
}

/* Stile per il pulsante di invio */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/* Hover effect per il pulsante di invio */
input[type="submit"]:hover {
    background-color: #0056b3;
}
